<p id="notice"><%= notice %></p>

<%= image_tag validate_image(@sport.logo),class: 'sports-image-show' %>

<p>
  <strong>Name:</strong>
  <%= @sport.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @sport.game_type %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
