<p id="notice"><%= notice %></p>

<%= render partial: 'layouts/render_image', locals: {image: @sport.logo} %>

<p>
  <strong>Name:</strong>
  <%= @sport.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @sport.game_type %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
