<p id="notice"><%= notice %></p>

<h1>
  <%= @game.name %>
</h1>

<div class="results">

  </table>


  <hr>
  <div class="row">
    <% @contestants.each do |contestant| %>
      
      <div class="col-sm-6"><br>
        <h2><%= image_tag validate_image(contestant.team.logo), class: "logo" %><%= contestant.team.name %></h2>
        <h1><%= contestant.score %></h1>
        <div class="container">
          
          <table>
            <thead>
              <tr>
                <th>Player</th>
                <th>Details</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% contestant.statistics.each do |statistic| %>
                <tr>
                  <td style="width: 350px;">
                    <h4>
                        <%= image_tag validate_image(statistic.player.image), class: "table-image" %>
                        <%= statistic.player.name %>
                    </h4>
                    
                  </td>
                  <td><pre><%= statistic.details %></pre></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        
        <% new_statistic_1 = Statistic.new %>
        <% new_statistic_1.contestant_team = contestant %>
        <br>
      </div>
    <% end %>
  </div>


</div>
