

<marquee width="100%" direction="left" height="30%" scrollamount="10">
  <% @games.each do |game| %>
    <span class="marquee-item">
      <% first =  game.contestant_teams.order("score DESC").first %>
      <% second =  game.contestant_teams.order("score DESC").last %>

      <% if first.team.present? %>
        <%= render partial: '/layouts/render_image', locals: {image: first.team.logo} %>
        <%= link_to first.team.name, first.team %> <span><%= first.score %></span>
      <% else %>
        <%= image_tag '/images/no-image-icon-11.PNG' %>
        NO SELECTED TEAM <span><%= first.score %></span>
      <% end %> 
      <strong class="vs">VS</strong>
      <% if second.team.present? %>
        <span><%= second.score %></span> <%= link_to second.team.name, second.team %>
        <%= render partial: '/layouts/render_image', locals: {image: second.team.logo} %>
      <% else %>
        NO SELECTED TEAM <span><%= second.score %></span>
        <%= image_tag '/images/no-image-icon-11.PNG' %>
      <% end %> 
    </span>
  <% end %>
</marquee>

<h1><%= @game.event.name + " " + @game.sport.name + " " + @game.name + " (LIVE)" %></h1>
<div class="row">
  <div class="col-sm-3 stats-container">
    <div class="container">
      
      <table class="statistics-live">
        <thead>
          <tr>
            <th>Player</th>
            <th>Details</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% first = @game.contestant_teams.first %>
          <% first.statistics.each do |statistic| %>
            <tr>
              <td style="width: 350px;">
                <h4>
                    <%= image_tag validate_image(statistic.player.image), class: "table-image" %>
                    <%= statistic.player.name %>
                </h4>
                
              </td>
              <td><pre><%= statistic.details %></pre></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br>
  </div>

  <div class="col-sm-6 game-score">
    <div class="row new-live">
      <div class="col-sm-5 ">
        <%= image_tag validate_image(@game.contestant_teams.first.team.logo) %>
        <p class="team-name"><%= @game.contestant_teams.first.team.name %></p>
        <p class="score" id="score1"><%= @game.contestant_teams.first.score %></p>
      </div>
      <div class="col-sm-2">
        <span class="live-vs">VS</span>
      </div>
      <div class="col-sm-5 ">
        <%= image_tag validate_image(@game.contestant_teams.last.team.logo) %>
        <p class="team-name"><%= @game.contestant_teams.last.team.name %></p>
        <p class="score " id="score2"><%= @game.contestant_teams.last.score %></p>
      </div>
    </div>
    <input type="hidden" id="game_id" value="<%= @game.id %>"><br>
  </div>

  <div class="col-sm-3 stats-container">
    <div class="container">
      
      <table class=" statistics-live">
        <thead>
          <tr>
            <th>Player</th>
            <th>Details</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% second = @game.contestant_teams.last %>
          <% second.statistics.each do |statistic| %>
            <tr>
              <td style="width: 350px;">
                <h4>
                    <%= image_tag validate_image(statistic.player.image), class: "table-image" %>
                    <%= statistic.player.name %>
                </h4>
                
              </td>
              <td><pre><%= statistic.details %></pre></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br>
  </div>
</div>


