

<marquee width="100%" direction="left" height="30%">

  <div class="clear-fix">
    <% @games.each do |game| %>
        <div class="games-container">
          <div class="teams">
            <% counter = 1%>
            <% game.contestant_teams.order("score DESC").each do |ct| %>
              <div class="team-score <%= counter > 1 ? "lose" : "" %>"> <% counter = counter + 1 %> 
                <% if ct.team.present? %>
                  <%= render partial: '/layouts/render_image', locals: {image: ct.team.logo} %>
                  <p class="team-name"><%= link_to ct.team.name, ct.team %> </p><span><%= ct.score %></span>
                <% else %>
                  <%= image_tag '/images/no-image-icon-11.PNG' %>
                  <p class="team-name">NO SELECTED TEAM</p><span><%= ct.score %></span>
                <% end %> 
              </div>
            <% end %>
          </div>

          <div class="details">
            <p class="game-type"><%= link_to game.name, game %></p>
            <p class="date"><%= format_date(game.schedule) %></p>
          </div>
        </div>
    <% end %>
  </div>
</marquee>
<h1><%= @game.event.name + " " + @game.sport.name + " " + @game.name + " (LIVE)" %></h1>
<div class="row">
  <div class="col-sm-5 game">
    <%= image_tag validate_image(@game.contestant_teams.first.team.logo) %>
    <p class="team-name"><%= @game.contestant_teams.first.team.name %></p>
    <p class="score" id="score1"><%= @game.contestant_teams.first.score %></p>
  </div>
  <div class="col-sm-2 game">
    <span>VS</span>
  </div>
  <div class="col-sm-5 game">
    <%= image_tag validate_image(@game.contestant_teams.last.team.logo) %>
    <p class="team-name"><%= @game.contestant_teams.last.team.name %></p>
    <p class="score " id="score2"><%= @game.contestant_teams.last.score %></p>
  </div>
</div>
<input type="hidden" id="game_id" value="<%= @game.id %>"><br>


  <div class="row">
    <% @contestants.each do |contestant| %>
      
      <div class="col-sm-6"><br>
        <div class="container">
          
          <table>
            <thead>
              <tr>
                <th>Player</th>
                <th>Details</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% contestant.statistics.each do |statistic| %>
                <tr>
                  <td style="width: 350px;">
                    <h4>
                        <%= image_tag validate_image(statistic.player.image), class: "table-image" %>
                        <%= statistic.player.name %>
                    </h4>
                    
                  </td>
                  <td><pre><%= statistic.details %></pre></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        
        <% new_statistic_1 = Statistic.new %>
        <% new_statistic_1.contestant_team = contestant %>
        <br>
      </div>
    <% end %>
  </div>