<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, options_from_collection_for_select(Event.all, 'id', 'name', form.object.event ? form.object.event.id : 1) %>
  </div>

  <div class="field">
    <%= form.label :game_type, "Round" %>
    <%= form.text_field :game_type %>
  </div>

  <div class="field">
    <%= form.label :sport_id %>
    <%= form.select :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name', form.object.sport ? form.object.sport.id : 1) %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.datetime_select :schedule %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Game::STATUS %>
  </div>

  Contestants
  <ul>
    <%= form.fields_for :contestant_teams do |ctf| %>
      <li>
        <%= ctf.label :team_id %>
        <%= ctf.select :team_id, options_from_collection_for_select(Team.where(event_id: form.object.event_id), 'id', 'name', ctf.object.team_id || 1), :include_blank => true %>
        <%= ctf.label :score %>
        <%= ctf.text_field :score %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
