<p id="notice"><%= notice %></p>

<h1>
  <%= @event.name %><hr>
</h1>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %><hr>

<h1>Games</h1>
<%= render '/events/new_game' %>

  <div class="clear-fix">
    <% @games.each do |game| %>
        <div class="games-container">
          <div class="teams">
            <% counter = 1%>
            <% game.contestant_teams.order("score DESC").each do |ct| %>
              <div class="team-score <%= counter > 1 ? "lose" : "" %>"> <% counter = counter + 1 %> 
                <% if ct.team.present? %>
                  <%= render partial: '/layouts/render_image', locals: {image: ct.team.logo} %>
                  <p class="team-name"><%= link_to limit_string(ct.team.name, 25), ct.team %> </p><span><%= ct.score %></span>
                <% else %>
                  <%= image_tag '/images/no-image-icon-11.PNG' %>
                  <p class="team-name">DELETED</p><span><%= ct.score %></span>
                <% end %>                  
                
              </div>
            <% end %>
          </div>

          <div class="details">
            <p class="game-type"><%= link_to game.name, game %></p>
            <p class="date"><%= format_time(game.schedule) %></p>
          </div>
        </div>
    <% end %>
  </div>
<br><br>

<h1>Teams</h1>
<%= render '/events/new_team' %>
<table>
  <thead>
    <th style="width: 25%;">Sport</th>
    <th>Teams</th>
  </thead>
    <% Sport.all.each do |sport| %>

      <% if sport.teams.where(event_id: @event.id).count > 0 %>
        <tr>
          <td><h5 class="event-sports"><%= render partial: 'layouts/render_image', locals: {image: sport.logo} %><%= sport.name %></h5></td>
        
          <td>
            <% Team.all.where(sport_id: sport.id).where(event_id: @event.id).each do |team| %>
              <li class="list-group-item"><%= image_tag validate_image(team.logo) %><%= link_to team.name, team %></li>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
</table>



