<p id="notice"><%= notice %></p>

<h1>
  <%= @game.name %>
</h1><hr>

<p>
  <strong>Event:</strong>
  <%= @game.event.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= format_time(@game.schedule) %>
</p>
<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @game.quarter %>
</p>

<p>
  <strong>Created by:</strong>
  <% if @game.created_by %>
    <%= @game.created_by.username %>
  <% end %>
</p>

<p>
  <strong>Last Updated By:</strong>
  <% if @game.last_updated_by %>
    <%= @game.last_updated_by.username %>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> | 
<%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'View Realtime', "/live_view/single_game?game_id=" + @game.id.to_s %> 
<%# link_to 'Display Result', "/live_view/result?game_id=" + @game.id.to_s %>

<hr>
<h1>Game Players</h1><br>

<table>
  <thead>
    <th>Team</th>
    <th>Score</th>
    <th>Status</th>
  </thead>

  <% for  x  in 0..(@contestants.size - 1) %>
    <% if @contestants[x].team %>
      <tr>
        <td><%= link_to @contestants[x].team.name, @contestants[x].team %></td>
        <td><%= @contestants[x].score %></td>
        <td><%= display_winner(@ranks[x]) %></td>
      </tr>
    <% else %>
      <tr>
        <td><span style="color: gray">NO SELECTED TEAM</span></td>
        <td><%# @contestants[x].score %></td>
        <td><%# display_winner(@ranks[x]) %></td>
      </tr>
    <% end %>
  <% end %>
  
</table>
<hr><br>
<h1>Statistics</h1><br>
<div class="row">
  <% @contestants.each do |contestant| %>
    
    <% if contestant.team %>
        
      <div class="col-sm-6"><br>
        <h3><%= contestant.team.name %> Statistics</h3>

        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th class="details-data">Points</th>
              <th class="details-data">Assists</th>
              <th class="details-data">Fouls</th>
              <th class="details-data">Rebounds</th>
              <th class="details-data">Playing</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% contestant.statistics.order("id").each do |statistic| %>
              <tr>
                <td><%= image_tag validate_image(statistic.player.image) %><%= statistic.player.name %></td>
                <td class="details-data"> 
                  <button class="btn-add-points">+</button>
                  <input type="hidden" class="id" value="<%= statistic.id %>" />
                  <span class="statistics-details"><%= statistic.points %></span>
                  <button class="btn-sub-points">-</button>
                </td>
                <td class="details-data">
                  <button class="btn-add-assist">+</button>
                  <input type="hidden" class="id" value="<%= statistic.id %>" />
                  <span class="statistics-details"><%= statistic.assists %></span>
                  <button class="btn-sub-assist">-</button>
                </td>
                <td class="details-data">
                  <button class="btn-add-foul">+</button>
                  <input type="hidden" class="id" value="<%= statistic.id %>" />
                  <span class="statistics-details"><%= statistic.foul %></span>
                  <button class="btn-sub-foul">-</button>
                </td>
                <td class="details-data">
                  <button class="btn-add-rebound">+</button>
                  <input type="hidden" class="id" value="<%= statistic.id %>" />
                  <span class="statistics-details"><%= statistic.rebound %></span>
                  <button class="btn-sub-rebound">-</button>
                </td>
                <td>
                  <input type="hidden" class="id" value="<%= statistic.id %>" />
                  <input class="playingChecked" type="checkbox" 
                  <% if statistic.isPlaying %>
                    checked
                  <% end %>
                ></td>
                <td><%= link_to 'Delete', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <% new_statistic_1 = Statistic.new %>
        <% new_statistic_1.contestant_team = contestant %>
        <br>
        <%= render 'new_statistics', statistic: new_statistic_1%>
      </div>
    <% end %>
    
  <% end %>
</div>