<p id="notice"><%= notice %></p>

<h1>
  <%= @game.name %>
</h1><hr>

<p>
  <strong>Event:</strong>
  <%= @game.event.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= format_time(@game.schedule) %>
</p>

<p>
  <strong>Created by:</strong>
  <% if @game.created_by %>
    <%= @game.created_by.username %>
  <% end %>
</p>

<p>
  <strong>Last Updated By:</strong>
  <% if @game.last_updated_by %>
    <%= @game.last_updated_by.username %>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> | 
<%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>
<h1>Game Players</h1><br>

<table>
  <thead>
    <th>Team</th>
    <th>Score</th>
    <th>Status</th>
  </thead>

  <% for  x  in 0..(@contestants.size - 1) %>
    <% if @contestants[x].team %>
      <tr>
        <td><%= link_to @contestants[x].team.name, @contestants[x].team %></td>
        <td><%= @contestants[x].score %></td>
        <td><%= display_winner(@ranks[x]) %></td>
      </tr>
    <% else %>
      <tr>
        <td><span style="color: gray">DELETED</span></td>
        <td><%= @contestants[x].score %></td>
        <td><%= display_winner(@ranks[x]) %></td>
      </tr>
    <% end %>
  <% end %>
  
</table>

