<!DOCTYPE html>
<html>
  <head>
    <title><%= controller_name.capitalize %> | Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/images/logo.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <!-- sidebar -->
    <div class="sidebar">
      <img class="logo" src="/images/logo.png" alt="PSU">
      <p>PSU Sports Management System</p>

      <ul>
        <!-- <li><a class='<%# check_active('dashboard') %>' href="#"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li> --> 
        <li><a class='<%= check_active('events') %>' href="/events"><i class="fas fa-calendar-alt"></i>Events</a></li>
        <li><a class='<%= check_active('sports') %>' href="/sports"><i class="fas fa-basketball-ball"></i>Sports</a></li>
        <li><a class='<%= check_active('teams') %>' href="/teams"><i class="fas fa-users"></i>Teams</a></li>
        <li><a class='<%= check_active('players') %>' href="/players"><i class="fas fa-user-ninja"></i>Players</a></li>
        <li><a class='<%= check_active('games') %>' href="/games"><i class="fas fa-flag-checkered"></i>Games</a></li>
        <li><a class='<%= check_active('admins') %>' href="/admins"><i class="fas fa-user"></i>Admin</a></li>
        <li><a data-confirm="Are you sure?" data-method="delete" href="/access/logout" rel="nofollow" class='<%= check_active('inactive') %>' href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        

      </ul>
    </div>

    <!-- content -->
    <div class="content">
      <div class="header-background"></div>
      

      <div class="container-fluid content-padding">

        <div class="header">
          
          <h5><button class="toggle" >≡</button> <span class="controller-name"><%= controller_name.upcase %></span></h5>
          <div class="admin-name">        
            <p class=""><img src="/images/admin.png" alt="PSU">Admin</p>  
            
          </div>
        </div>

        <div class="jumbotron body">
          <%= yield %>
        </div>
      </div>
        
    </div>

  </body>
</html>
