<!DOCTYPE html>
<html>
  <head>
    <title>PsuSportsThesis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="live">
    <%= image_tag "/images/psu background.jpg", class: "live-bg" %>
    <div class="container-fluid main-live">
      <%= yield %>
    </div>
  </body>
</html>
